@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi, nice to meet you. You're gonna love this site, you'll be able to collect all your books here.</p>
</div>
